:root {
    --text-base-darkest: #1b1b1b;
    --text-base-lightest: #f0f0f0;
    --text-primary: #005ea2;
    --text-primary-dark: #1a4480;
    --text-primary-lighter: #d9e8f6;
    --text-primary-light: #73b3e7;
    --bg-base-lightest: #f0f0f0;
    --bg-base-lighter: #dfe1e2;
    --bg-base-light: #a9aeb1;
    --bg-base: #71767a;
    --bg-base-dark: #565c65;
    --bg-base-darker: #3d4551;
    --bg-base-darkest: #1b1b1b;
    --bg-primary: #005ea2;
    --bg-primary-dark: #1a4480; 
}

body {
    color: var(--text-base-darkest);
    background-color: white;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-top: 2.4rem;
}

a,
a:visited {
    color: var(--text-primary);
}
a:hover {
    color: var(--text-primary-dark);
}

p, 
li {
    line-height: 1.5;
}

button,
.button,
a.button:visited,
a.button {
    background: var(--bg-primary);
    color: var(--text-base-lightest);
    border: none;
    padding: 3px 6px;
    display: inline-block;
    text-decoration: none;
}
button:hover,
.button:hover,
a.button:hover {
    background: var(--bg-primary-dark);
    color: var(--text-base-lightest);
}
button + button,
.button + .button {
    margin-left: 6px;
}
button.small,
.button.small {
    font-size: 0.8rem;
    padding: 2px 4px;
}

main {
    box-sizing: border-box;
    padding: 1rem;
    flex-grow: 1;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
main a[href^="http"]::after,
main a[href^="https://"]::after
{
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
main a[href^="https://loc.gov"]::after,
main a[href^="https://www.loc.gov"]::after,
main a[href^="https://staff.loc.gov"]::after,
main a[href^="https://blogs.loc.gov"]::after,
main a[href^="https://libraryofcongress.github.io"]::after
{
  display: none !important;
}


.main-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-menu-list li {
    margin: 0;
    padding: 0;
}
.main-menu-list li a {
    display: block;
    margin-right: 12px;
}
.main-menu-list li a.active {
    color: var(--text-base-darkest);
    text-decoration: none;
    cursor: default;
}
.main-menu-list li a svg {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-left: -2px;
}

.loc-header {
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-base-darkest);
    border-bottom: 1px solid var(--bg-base-darker);
    z-index: 10000;
}
.loc-header p {
    color: var(--text-base-lightest);
}
.loc-header a {
    color: var(--text-primary-light);
}
.loc-header a:hover {
    color: var(--text-primary-lighter);
}
.loc-header a.button {
    color: var(--text-base-lightest);
    vertical-align: middle;
}
.loc-header a.button:hover {
    color: var(--text-base-lightest);
}
@media screen and ((max-height: 520px) or (max-width: 600px)) {
    .loc-header {
        position: relative;
    }
}
.loc-header .loc-logo img {
    height: 30px;
    width: auto;
    margin-right: 6px;
}
.loc-header .project-description {
    text-align: center;
    display: flex;
}
.loc-header .project-description p {
    margin: 0 6px 0 0;
    font-size: 0.9rem;
}

.loc-footer {
    background: var(--bg-base-lightest);
    border-top: 1px solid var(--bg-base-light);
    padding: 0 12px 12px;
    text-align: center;
    font-size: 0.9rem;
    position: relative;
}
.loc-footer .loc-footer-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.loc-footer .loc-footer-nav-list li {
    margin: 0 6px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

table {
    line-height: 1.5;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1.25rem 0;
}
table th,
table td {
    background-color: #fff;
    border: 1px solid #1b1b1b;
    font-weight: 400;
    padding: .5rem 1rem;
}
table th {
    background-color: #e6e6e6;
    padding: .5rem 1rem;
    background-clip: padding-box;
    font-weight: bold;
    line-height: 1.3;
    white-space: nowrap;
}
table ul {
    margin: 0 0 0 1rem;
    padding: 0;
}
table img {
    max-width: 160px;
}
table + p {
    margin-top: -0.8rem;
}